<% album?.opinions.forEach(opinion => { %>
  <form class="opinion-container" action="/albums/<%= album.id %>/opinions/<%= opinion._id %>?_method=DELETE" method="POST">
    <div class="photo-delete-container">
      <a class="photo-container" href="/profiles/<%= opinion.author._id %>">
        <img class="opinion-photo" src="<%= opinion.author.avatar %>" alt="user photo">
      </a>
      <% if(user.profile.equals(opinion.author._id)) { %> 
      <button id="delete-opinion-btn">DELETE</button>
      <% } %> 
    </div>
    <p class="opinion-content"> "<%= opinion.content %>" - <%= opinion.author.name %>  </p>
  </form>
  <% }) %>