<% album?.opinions.forEach(opinion => { %>
  <form action="/albums/<%= album.id %>/opinions/<%= opinion._id %>?_method=DELETE" method="POST">
  <img src="<%= opinion.author.avatar %>" alt="user photo">
  <a href="/profiles/<%= opinion.author._id %>">link</a>
  <p> <%= opinion.content %>  </p>
    <button>DELETE</button>
  </form>
  <% }) %>