<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<% { %>
  <link rel="stylesheet" href="/stylesheets/profile-index.css">
<% } %>

<main>
  <section class="all-users-container">
    <h1 class="page-title">All users</h1>
    <div class="all-users">
      <% profiles.forEach(profile => { %> 
        <div class="user-tile">
          <a href="/profiles/<%= profile._id %>">
            <% if (profile.avatar) { %> 
              <img class="profile-photo" src="<%= profile.avatar %>" alt=" <%= profile.name %> ">
              <p class="profile-index-name"><%= profile.name %> </p>
            <% } %> 
          </a>
        </div>
        <% }) %> 
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
