<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="all-users">
    <h1>All the users</h1>
    <div class="all-users">
      <% profiles.forEach(profile => { %> 
        <div class="user-tile">
          <a href="/profiles/<%= profile._id %>">
            <% if (profile.avatar) { %> 
              <img src="<%= profile.avatar %>" alt=" <%= profile.name %> ">
              <p><%= profile.name %> </p>
            <% } %> 
          </a>
        </div>
        <% }) %> 
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
