<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="all-users">
    <h1>All the users</h1>
    <% profiles.forEach(profile => { %> 
      <a href="/profiles/<%= profile._id %>">
        <% if (profile.avatar) { %> 
          <img src=" <%= profile.avatar %> " alt=" <%= profile.name %> ">
        <% } %> 
      </a>
    <% }) %> 
  </section>
</main>

<%- include('../partials/footer') %>
