<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="bio-details">
    <h1>User Details</h1>
    <img
        class="image-rounded" 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %>'s avatar"
      >

      <tr>
        <td><%= profile.name %></td>
        <td>Google Email:</td>
        <td><%= user.email %></td>
      </tr>

  </section>
</main>

<%- include('../partials/footer') %>

<!-- profile info
     Collection
     Friends -->