<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>
  <h1>Hey <%= user ? user.profile.name : "buddy, please log in" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
  <section id="title-content">
    <img src="https://imageproxy.ifunny.co/crop:x-20,resize:640x,quality:90x75/images/756f633df95439fe34e5e16b0b61f7d46e39e4ca725d1b1f29311c25fe5d0ae3_1.jpg" alt="record meme">
    <h2>Welcome to Record Duck</h2>
      (Not really)
    </a>
    

  </section>
</main>
<%- include('./partials/footer') %>