<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="bio-details">
    <h1>Searched Album Results</h1>
    <% if (results) {%> 
      <section>
        <% results.forEach(album => { %> 
          
          <img 
        width="50%" 
        src="<%= album.cover_image %>" 
        alt="background image"
      >
      <a href="/albums/<%= album._id %>">About</a> 
        <% })  %> 
      </section>
    <% } %> 
  </section>
</main>

<%- include('../partials/footer') %>


