<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="main-results">
  <section class="bio-details"> 
    <h1>Searched Album Results</h1>
    <% if (results) {%> 
      <section>
        <% results.forEach(album => { %>        
          <a href="/albums/<%= album.id %>"><img class="album-results" 
            src="<%= album.cover_image %>" 
            alt="background image"
          ></a> 
        <% })  %> 
      </section>
    <% } %> 
  </section>
</main>

<%- include('../partials/footer') %>


