<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<% { %>
  <link rel="stylesheet" href="/stylesheets/album-show.css">
<% } %>

<main class="album-details-container">
  <section class="album-facts">
    <div class="album-info-and-cover">
      <div class="show-info">
        <h1><%= artist %></h1>
        <h2><%= albumTitle %></h2>
      </div>
      <img class="cover-art" src="<%= image %>" alt="cover art">
    </div>
    <div class="track-list-container">
      <ol class="track-list">
        <% tracklist.forEach(track => { %>
          <li><%= track.title %></li> 
        <% }) %>
      </ol>
      <form class="collect-form" action="/albums/<%= apiResult.id %>/addToCollection?_method=Patch" method="POST">    
        <input type="text" name="discogsId" hidden value="<%= apiResult.id %>">
        <input type="text" name="artist" hidden value="<%= artist %>">
        <input type="text" name="title" hidden value="<%= albumTitle %>">
        <input type="text" name="imageUrl" hidden value="<%= image %>">
      </form>
    </div>
      <% if (!userHasAlbum) { %> 
        <%- include("../partials/opinions") %> 
        <button class="add-collection">Add To Collection</button>
      <% } %>
  </section>
  <% if (album?.opinions.length) { %> 
    <%- include("../partials/opinions") %> 
    
  <% } %> 
    <% if (!userHasOpinion && userHasAlbum) { %> 
      <%- include("../partials/opinion-form") %> 
    <% } %> 
</main>
<%- include("../partials/footer") %>
