<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="album-details">
    <h1><%= artist %></h1>
    <h2><%= albumTitle %></h2>
    <img width="60%" src="<%= image %>" alt="cover art">
    <ol>
      <% tracklist.forEach(track => { %>
        <li><%= track.title %></li> 
      <% }) %>
    </ol>
    <form action="/albums/<%= apiResult.id %>/addToCollection?_method=Patch" method="POST">
      <input type="text" name="discogsId" hidden value="<%= apiResult.id %>">
      <input type="text" name="artist" hidden value="<%= artist %>">
      <input type="text" name="title" hidden value="<%= albumTitle %>">
      <input type="text" name="imageUrl" hidden value="<%= image %>">
    <button>Add To Collection</button>
    </form>
  </section>
  <% if (album?.opinions.length) { %> 
    <%- include("../partials/opinions") %> 
    
  <% } %> 
    <% if (!userHasOpinion && userHasAlbum) { %> 
      <%- include("../partials/opinion-form") %> 
    <% } %> 
</main>
<%- include("../partials/footer") %>

<!-- discogsId: Number,
  artist: String,  
  imageUrl: String, -->