<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<% { %>
  <link rel="stylesheet" href="/stylesheets/album-show.css">
<% } %>

<main class="album-details-container">
  <section class="album-facts">
      <div class="album-info">
        <h1 id="artist"><%= artist %></h1>
        <h2 id="album-title"><%= albumTitle %></h2>
      </div>
      <img class="cover-art" src="<%= image %>" alt="cover art">
    <div class="track-list-container">
      <ol class="track-list">
        <% tracklist.forEach(track => { %>
          <li><%= track.title %></li> 
        <% }) %>
      </ol>
      <form class="collect-form" action="/albums/<%= apiResult.id %>/addToCollection?_method=Patch" method="POST">    
        <input type="text" name="discogsId" hidden value="<%= apiResult.id %>">
        <input type="text" name="artist" hidden value="<%= artist %>">
        <input type="text" name="title" hidden value="<%= albumTitle %>">
        <input type="text" name="imageUrl" hidden value="<%= image %>">
        <% if (!userHasAlbum) { %> 
          <button class="add-collection">Add To Collection</button>
        <% } %>
      </form>
    </div>
  </section>
  <section class="opinion">
    <% if (album?.opinions.length) { %> 
      <%- include("../partials/opinions") %> 
    <% } %> 
      <% if (!userHasOpinion && userHasAlbum) { %> 
        <%- include("../partials/opinion-form") %> 
      <% } %> 
  </section>
</main>
<%- include("../partials/footer") %>
